@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #35383E;
  --muted: #B0B0B0;
  --success: #00CD2D;
  --danger: #FF0000;
  --accent: #0055ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-accent: var(--accent); 
  --font-sans: var(--font-raleway-sans);
  --font-mono: var(--font-inter);
}

[data-theme='dark'] {
  --background: #35383E;
  --foreground: #ededed;
  --muted: #B0B0B0;
  --success: #00CD2D;
  --danger: #FF0000;
  --accent: #0055ff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
